@tailwind base;
@tailwind components;
@tailwind utilities;
@import "pretendard/dist/web/static/pretendard.css";

body {
  background-color: white;
  font-family: "pretendard", sans-serif;
}

p{
  color:#0034EE;
}