@import "pretendard/dist/web/static/pretendard.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EBEBEB;
  font-family: "pretendard", sans-serif;
}

p{
  color:#0034EE;
}