.save-page{
    height: 100vh;
    padding: 44px 80px 52px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:45px;

    .bg-btn{
        position: relative;
        margin-bottom: 24px;

        img {
            border-radius: 12px;
            border: 1.5px solid #0800EE;
        }
    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(8, 0, 238, 0.50);
        border-radius: 12px;
    }
    
    .decibel-save-btn{
        left: 80px;
        top: 44px;
    }

    .print-btn{
        background-color: #0800EE;
        border-radius: 12px;
        color: white;
        font-size: 36px;
        padding: 10px 88px;
        margin-bottom: 24px;
    }

    .qr-btn{
        background-color: white;
        color: #0800EE;
        border-radius: 12px;
        font-size: 36px;
        padding: 9px 36px;
        border: 1.5px solid #0800EE;

        &:hover{
            color: white;
            background-color:#0800EE;
        }
    }

    .qr-box{
        margin-top: 12px;
        background-color: white;
        font-size: 24px;
        font-weight: 700;
        border-radius: 12px;
        border: 1.5px solid #0800EE;
        display: flex;
        align-items: center;
        gap: 22px;
        padding: 28px;
        text-align: center;
    }

    .capture-content{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .swap-btn{
        border-radius: 12px;
        border: 1.5px solid #0800EE;
        padding: 19px 22px;
        background-color: white;
        position: absolute;
        top: 49%;
    }

    .local-imgs{
        display: flex;
        overflow-x: scroll;
        gap: 20px;
        padding-bottom: 20px;
        height: 17%;
        align-items: end;

        /* 전체 스크롤바의 너비 */
        &::-webkit-scrollbar {
            height: 20px;
        }
    
        /* 스크롤바 핸들 (움직이는 부분) */
        &::-webkit-scrollbar-thumb {
            background-color: #0800EE; 
            border-radius: 4px;
        }
        
    }
}