.text-box {
    position: absolute;
    cursor: pointer;
    
    span{
        font-weight: bold;
    }

    .drag-icon{
        position: absolute;
        padding: 6px;
        border:1px solid #0800EE;
        border-radius: 8px;
        right: -25px;
        bottom: -25px;
        background-color: white;
    }
}