.main-container{
    margin: 20px 20px 24px 24px;
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .main-text{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        line-height: 44px;
        flex:1;
        margin-top: 45px;

        img{
            display: inline;
            vertical-align: middle;
          }
    }
    
    .sub-text{
        font-size: 16px;
        font-weight: 300;
    }
    
    .font-eng{
        text-transform: uppercase;
        font-weight: 400;
    }

    .trash-image{
        transition: opacity 0.5s ease-in-out;
        width: 100%;

        &:nth-child(1){
            max-width: 500px;
        }
        &:nth-child(2){
            max-width: 477px;
            top: 54%;
            left: 47%;
            transform: translate(-50%, -50%) rotate(5.516deg);
        }
        &:nth-child(3){
            max-width: 465px;
            transform: rotate(-5.516deg);
            left: 26%;
        }
    }
}