@mixin box-style($bg-color:#FFFFFF){
    background-color: $bg-color;
    border:2px solid black;
}

.poster1-page{
    height: 100%;
    background-image: url(../images/poster1/Background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    .poster1-date{
        font-family:'Cooper', sans-serif;
        @include box-style;
        width: 628px;
        height: 182px;
        text-align: center;
        font-size: 123.45px;
        line-height: 140px;
        text-wrap: nowrap;
        z-index: 2;
    }   
    .poster1-year{
        font-family:'Cooper', sans-serif;
        @include box-style;
        width: 400px;
        height: 178px;
        text-align: center;
        border-right: 0px;
        font-size: 123.45px;
        line-height: 140px;
        z-index: 3;
        
    }

    .poster1-title{
        @include box-style;
        padding: 17px 44px;
        margin-top:-20px;
        margin-left: 130px;
        z-index: 2;
        width: fit-content;

        p:nth-of-type(1) {
            font-family: 'Cooper', sans-serif;
            font-size: 50px;
        }
        
        p:nth-of-type(2) {
            // 폰트 
            font-size: 46px;
        }
        
    }
    .poster1-content{
        // 폰트
        @include box-style(#EAFEFF);
        white-space: pre-wrap;
        font-size: 15px;
        width: 574px ;
        padding: 40px 37.5px;
        overflow: hidden;
        transform: rotate(-20deg);
        transition: 0.3s;
        margin-left: auto;
        margin-right: 140px;
    }

    img{
        height: 32px;
        width: auto;
    }

    @media (max-width: 1279px) {
        .poster1-title{
            margin-left: 0px;
            padding: 17px 11px;

        }

        .poster1-content {
            background-color: #FFE9FF;
            transform: rotate(-5deg);
            
        }
    }
    @media (max-width: 999px) {
        .poster1-year{
            display: none;
        }
        .poster1-content{
            margin-right: auto;
        }
    }
    @media (max-width: 579px) {
        .poster1-date{
            width: 425px;
            font-size: 88px;
        }
        .poster1-title{
            width: 100%;
            p:nth-of-type(1) {
                font-size: 32px;
            }
            p:nth-of-type(2) {
                font-size: 32px;
            }
        }
        
        .poster1-content {
            background-color: #FFFCEA;
            transform: rotate(-3deg);
            width: 412px;
        }
        
    }
}
 
