@font-face {
    font-family: "Noto-Serif";
    src: url('./NotoSerifKR-VariableFont_wght.ttf')format('truetype');
}

body{
    margin: 0;
    font-family: "Noto-Serif",sans-serif;
    background-color: #D9D9D9;
}
p, h1{
    margin: 0;
}

#root {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('./Bg1.jpg');
    background-size: 100% 100%;
}

.poster4-container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.poster4-main{
    display: flex;
}

.poster4-main-left {
    box-sizing: border-box;
    height: 75vh;
    padding: 42px;
    width: 70%;
    background-image: url('./BgEffect.png');
    background-position: bottom;
    background-size:100%;
    background-color: #0F9968;
    background-repeat: no-repeat;
    box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.70);
    z-index: 10;
}

.main-h1-1{
    font-size: clamp(1rem, 9vh, 110px);
    font-weight: 700;
    line-height: 112.115%;
}
.main-h1-2{
    display: none;
    font-weight: 700;
    line-height: 112.115%;
}

.poster4-main-right{
    width: 30%;
    height: 100%;
}

.poster4-main-yellow{
    box-sizing: border-box;
    font-size: clamp(1rem, 7vh, 76px);
    background-color: #E7E514;
    font-weight: 700;    
    padding: 36px;
    box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.70);
}

.poster4-main-p{
    padding: 36px;
    font-weight: 700;
    font-size: clamp(10px, 2vh, 18px);
}
.main-sub-1{
    display: none;
}
.main-sub-2{
    display: none;
}

.main-1280{
    display: none;
}

.poster4-footer{
    font-size: clamp(1rem, 2vh, 24px);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 30px 40px;
}
.poster4-footer-center{
    margin:0 10px;
}

@media (max-width: 1279px) {
    #root{
        background-image: url('./Bg2.jpg');
    }
    .main-h1-1{
        display: none;
    }
    .main-h1-2{
        display: block;
        font-size: clamp(1rem, 6vh, 80px);
    }
    .main-sub-1{
        display: block;
        font-size:clamp(1rem, 4vh, 52px);
        font-weight: 700;
    }
    .poster4-main-yellow{
        display: none;
    }

    .poster4-footer{
        justify-content: start;
    }
    .poster4-footer-right{
        display: none;
    }

}

@media (max-width: 619px) {
    #root{
        background-image: url('./Bg3.jpg');
    }
    .poster4-main{
        display: block;
    }
    .poster4-main-left{
        width: 100%;
        height: auto;
        padding: 22px;
        padding-bottom: 15vh;
    }
    .poster4-main-right{
        margin-left: auto;
        width: 80%;
    }
    .main-sub-1{
        display: none;
    }
    .poster4-main-p{
        padding: 20px 20px 0 20px;
    }
    .main-h1-2{
        font-size: 62px;
        text-align: right;
    }
    .main-sub-2{
        display: block;
        font-weight: 700;
        padding: 20px;
        font-size: 35px;
    }
    
    .main-1280{
        display: none;
    }
    .poster4-footer{
        justify-content: end;
        padding: 30px 40px 30px 40px;
    }

}