.about-page{
    background-image: url('../images/AboutImages/BackgroundImg2.jpg');
    background-size: cover;

    .home-btn {
        left: 24px;
        top: 20px;
    }

    .main-text{
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        line-height: 48px;
        margin-top: 108px;
        
        img{
            display: inline-block;
            width: 154px;
            vertical-align: top;
          }
    }
}