.about-page{

    .home-btn {
        left: 80px;
        top: 44px;
    }

    .main-text{
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 54px;
        margin-top: 95px;
    }
}