.about-page{
    //background-image: url('../images/AboutImages/BackgroundImg2.jpg');
    //background-size: cover;
    background-color: #F1F1F1;

    .home-btn {
        left: 24px;
        top: 44px;
    }

    .main-text{
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 54px;
        margin-top: 95px;
        
        img{
            display: inline-block;
            width: 154px;
            vertical-align: top;
          }
    }
}