.home-btn {
    position: absolute;
    width: 94px;
    height: 53px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    background-image: url('../images/AboutImages/Home.svg');
    z-index: 5;

      &:hover{
          background-image: url('../images/AboutImages/HomeHover.svg');
      }
  }

body::-webkit-scrollbar{
    display: none;
}