.decibel-page{
    height: 100vh;
    padding: 44px 80px 72px 64px;
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .decibel-top{
        font-weight: 700;
        font-size: 20px;
        border-radius: 8px;
        background-color: #0800EE;
        padding: 8px 20px;
        color: white;
        display: flex;
        align-items: center;
        gap:24px;
        width: calc(100% - 3.66vw - 2.5rem);

        .decibel-top-flowing{
            @keyframes flowText1 {
                0% {
                transform: translateX(100%);
                }
                100% {
                transform: translateX(-100%);
                }
            }
            width: 100%;
            white-space: nowrap;
            animation: flowText1 35s linear infinite;
            font-weight: 500;
        }
    }

    .capture-container{
        display: flex;
        width: 61.26%;
        justify-content: space-between;

        .capture-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 94.05%;
        }
        
        .capture-option{
            width: 5.95%;

            button {
                margin-top: 28px;
                width: 100%;
                border-radius: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFFFFF;
                color: #0800EE;
                aspect-ratio: 1 / 1;

                &:hover{
                    background-color: #0800EE;
                    color: #FFFFFF;
                }
            }
                    
            .active{
                color: #FFFFFF;
                background-color: #0800EE;
            }

            .color-btn{
                background-image: url('../images/DecibelImages/RectBtn/Rainbow.png');
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                border-radius: 16px;
                aspect-ratio: 1 / 1;
            }
            
            input[type="color"] {
                cursor: pointer;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            
        }
    }

    .option-container{
        width: 38.74%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .option-boxes{
            overflow-y: scroll;
            
            &::-webkit-scrollbar{
                display: none;
            }

            .option-box{
                color:#0800EE;
                font-size: 24px;
                width: 100%;
                margin-bottom: 40px;
                
                .option-title{
                    display: inline-block;
                    padding: 16px 48px 8px 48px;
                    background-color: #FFFFFF;
                    border-radius: 20px 20px 0px 0px;
                    position: relative;
                    bottom: -1px;
                }
                .option-content{
                    padding: 56px 48px 32px 48px;
                    background-color: #FFFFFF;
                    border-radius: 0px 20px 20px 20px;
                }

                .decibel-btn{
                    width: 4.8%;
                    height: 76px;
                    border-radius: 12px;
                    border: 2px solid #0800EE;
                    transition: background-color 0.3s;
                }
    
                b {
                    font-size: 32px;
                    margin-right: 24px;
                }
        
                .text-add {
                    border-radius: 12px;
                    border: 1.5px solid #0800EE;
                    font-weight: 700;
                    padding: 15px 40px;
                }
            }
        }

        .save-btn{
            margin-top: 36px;
            width: 100%;
            padding: 18px;
            background-color: #0800EE;
            color:#FFFFFF;
            border-radius: 24px;
            font-size: 42px;
            text-align: center;
        }
    }
    
}
