.entry-page{
  margin: 44px 24px;
  overflow-x: hidden;
  min-height: calc(100vh - 88px);

  .content-btn {
    border: 1.5px solid #0800EE;
    border-radius: 12px;
    font-weight: 700;
    color: #0800EE;
    font-size: 20px;
    transition: 0.2s ease;
    width: 140px;
    height: 52px;

    &:hover{
      color:#E8E8E8;
      background-color: #0800EE;
    }

  }

  .active{
    color:#E8E8E8;
    background-color: #0800EE;
  }

  .image-content{
    width: 20%;
    max-height: 300px;
    height: 21vh;
    border: 1.5px solid #0800EE;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    
    &:hover{
      background-color: #0800EE;
      .image-num{
        background-color: #E8E8E8;
        color:#0800EE
      }
    }

    .image-num{
      padding: 3px 9px;
      background-color: #0800EE;
      color: #E8E8E8;
      font-size:20px;
      font-weight: 600;
      border-radius: 4px;
      position: absolute;
      left: 20px;
      top: 20px;
    }

    img {
      height: 70%;
      width: 70%;
    }
  }
  .list-content{
    box-sizing: border-box;
    border-radius: 12px;
    border: 1.5px solid #0800EE;
    display: flex;
    width: 100%;
    padding: 18.5px 24px;
    color: #0800EE;
    font-size: 24px;
    font-weight: 600;
  }

  .empty-box{
    width: 10%;
    height: 21vh;
    max-height: 300px;
    border: 1.5px solid #0800EE;
    border-radius: 12px;
  }

  .top-btn {
    position: fixed;
    background-image: url(../images/EntryImages/TopBtn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    right: 72px;
    bottom: 61px;
    cursor: pointer;
  }
}



.modal {
  width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }

  .floating-image {
    position: fixed;
    top: 95px;
    left: 64px;
  }
  
  .modal-content img {
    width: 100%;
    object-fit: cover; 
  }

  .close {
    cursor: pointer;
    position: fixed;
    bottom: 51px;
    left: 64px;
    width: calc(100% - 128px);
  }
  }

.progress-bar-container{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;

  .progress-bar {
    height: 100%;
    background-color: #0800EE; 
    transition: width 0.1s ease-out;
  }
}
  
  
  