.entry-page{
  margin: 44px 80px;
  overflow-x: hidden;
  min-height: calc(100vh - 88px);
  
  .home-top{
    display: flex;
    gap:24px;
    font-weight: 700;
    font-size: 20px;

    .home-top-center{
      border-radius: 8px;
      background-color: #0800EE;
      padding: 8px 20px;
      color: white;
      width: 68%;
      display: flex;
      gap:24px;
      align-items: center;
    }

    .home-top-flowing {
      @keyframes flowText {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-130%);
        }
      }
      white-space: nowrap;
      animation: flowText 35s linear infinite;
      font-weight: 500;
    }

    .home-top-right{
      display: flex;
      color:#0800EE;
      border: 1.5px solid #0800EE;
      background-color: white;
      border-radius: 8px;
      padding: 10px 20px;
      width: 28%;
      gap:20px;
      
      input[type="range"]{
        cursor: pointer;
        accent-color: #0800EE;
        background-color: white;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        flex: 1;
        
        /* 범위 바에 채워진 부분 */
        &::-webkit-slider-runnable-track{
          -webkit-appearance: none;
          appearance: none;
          background-color:#0800EE;
          height: 4px;
        }

        /* 슬라이더 조절 핸들 */
        &::-webkit-slider-thumb{
          -webkit-appearance: none;
          appearance: none;
          background-color:#0800EE;
          width: 24px;
          height: 24px;
          border-radius: 6px;
          position: relative;
          top: 50%;  
          transform: translateY(-50%);
        }
      }
    }

  }
  
  .content-btn {
    border: 1.5px solid #0800EE;
    border-radius: 8px;
    font-weight: 700;
    color: #0800EE;
    font-size: 20px;
    transition: 0.2s ease;
    width: 140px;
    height: 52px;
    background-color: white;

    &:hover{
      color:white;
      background-color: #0800EE;
    }

  }

  .active{
    color:white;
    background-color: #0800EE;
  }

  .image-content{
    width: 20%;
    max-height: 250px;
    height: 17.36vh;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    position: relative;

    img {
      height: 70%;
      width: 70%;
    }
  }

  .empty-box{
    width: 10%;
    height: 17.36vh;
    max-height: 250px;
    border: 1.5px solid #0800EE;
    border-radius: 12px;
    background-color: white;
  }

  .top-btn {
    position: fixed;
    background-image: url(../images/EntryImages/TopBtn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    right: 105px;
    bottom: 60px;
    cursor: pointer;
  }
}



.modal {
  width: 100%;
  height: 100vh;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    position: relative;
    box-shadow: 4px 8px 24px 2px rgba(8, 0, 238, 0.24);
    border-radius: 20px;
  }

  .close {
    position: absolute;
    top: 32px;
    right: 32px;
  }

  .modal-img{
    max-width: 60vw;
    max-height: 83.3vh;;
    border-radius: 20px;
  }
}

.progress-bar-container{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;

  .progress-bar {
    height: 100%;
    background-color: #0800EE; 
    transition: width 0.1s ease-out;
  }
}
  
  
  