.entry-page{
  margin: 20px 24px;

  .home-btn {
    display: inline-block;
    width: 72px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    background-image: url('../images/AboutImages/Home.svg');
    
      &:hover{
          background-image: url('../images/AboutImages/HomeHover.svg');
      }
  }
  .content-btn {
    border: 1.5px solid #0800EE;
    border-radius: 12px;
    padding: 7px 19px;
    font-weight: 700;
    color: #0800EE;
    width: 121px;
    height: 40px;
    transition: 0.2s ease;

    &:hover{
      color:white;
      background-color: #0800EE;
    }

  }
  .active{
    color:white;
    background-color: #0800EE;
  }

  .show-btn{
    width: 72px;
    height: 41px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;

    &:nth-child(1){
      background-image: url('../images/EntryImages/ImageList.svg');
      &:hover{
          background-image: url('../images/EntryImages/ImageListHover.png');
      }
  }
  
  &:nth-child(2){
      background-image: url('../images/EntryImages/ContentList.svg');
      &:hover{
          background-image: url('../images/EntryImages/ContentListHover.png');
      }
  }
  }

  .image-content{
    width: 334px;
    height: 220px;
    border: 1.5px solid #0800EE;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    &:hover{
      background-color: #0800EE;
      color: white;
      .image-num{
        background-color: white;
        color: #0800EE;
      }
      }
    .image-num{
      padding: 0.5px 5px;
      background-color: #0800EE;
      color: white;
      font-size: 18px;
      font-weight: 600;
      border-radius: 4px;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    img{
      height: 100%;
    }
  }
  .list-content{
    box-sizing: border-box;
    border-radius: 12px;
    border: 1.5px solid #0800EE;
    display: flex;
    width: 100%;
    padding: 18.5px 24px;
    color: #0800EE;
    font-size: 24px;
    font-weight: 600;
  }

  .empty-box{
    width: 168px;
    height: 220px;
    border: 1.5px solid #0800EE;
    border-radius: 12px;
  }

  .top-btn {
    position: fixed;
    background-image: url(../images/EntryImages/TopBtn.svg);
    background-size: cover;
    width: 120px;
    height: 80px;
    right: 48px;
    bottom: 48px;

    &:hover{
      background-image: url(../images/EntryImages/TopBtnHover.png);
    }
  }
}



.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    
    .modal-content {
        position: relative;
      }
      
      .modal-content img {
        width: 100%;
        object-fit: cover; 
      }

      .close {
        position: absolute;
        cursor: pointer;
        bottom: 47px;
        right: 50%;
        transform: translate(50%);
      }
  }
  
  
  
  