.main-page{
    background-image: url('../images/HomeImages/BackgroundImg.jpg');
    background-size: cover;
    overflow: hidden;

    .home-btn{
        position: relative;
        padding: 16px;
        border-radius: 12px;
        border: 1.5px solid #0800EE;
        background: rgba(255, 255, 255, 0.50);
        margin-bottom: 16px;

        &:hover::after{
            content: "";
            position: absolute;
            background-image: url('../images/HomeImages/Arrow.svg');
            background-size: cover;
            width: 35px;
            height: 28px;
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
}
