.main-page{
    background-image: url('../images/HomeImages/BackgroundImg.jpg');
    background-size: cover;
    overflow: hidden;

    .btn-img{
        max-width: 162.75px;
        width: 100%;
        height: 49px;
        background-size: cover;
        transition: background-image 0.2s ease;
    }
    .about-btn{
        margin-left: 52px;
        background-image: url('../images/HomeImages/AboutBtn.svg');
        &:hover{
            background-image: url('../images/HomeImages/AboutBtnHover.svg');
        }
    }
    
    .entry-btn{
        margin-left: auto;
        margin-right: 52px;
        background-image: url('../images/HomeImages/EntryBtn.svg');
        &:hover{
           background-image: url('../images/HomeImages/EntryBtnHover.svg');
        }
    }
    
}
