.btn-img{
    max-width: 242px;
    width: 100%;
    max-height: 68px;
    margin-top: 45px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;

    &:nth-child(1){
        background-image: url('../images/HomeImages/AboutBtn.png');
        &:hover{
            background-image: url('../images/HomeImages/AboutBtnHover.png');
        }
    }
    
    &:nth-child(3){
        background-image: url('../images/HomeImages/EntryBtn.png');
        &:hover{
            background-image: url('../images/HomeImages/EntryBtnHover.png');
        }
    }
}

.title-img{
    max-width: 457px;
    width: 100%;
    
}
